fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-community
langchain-huggingface
pypdf
docx2txt
unstructured
pinecone
cohere
groq
sentence-transformers
rank-bm25
python-pptx
pdfplumber